Diglipur, Paschim Sagar

In [5]:
url = "https://egramswaraj.gov.in/webservice/approvedActionPlanExternalReport/245695/2024-2025"

In [6]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\ayan1\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\ayan1\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [7]:
pip install requests

Requirement already satisfied: requests in c:\users\ayan1\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ayan1\anaconda3\lib\site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [8]:
import pandas as pd
import requests
import certifi
from bs4 import BeautifulSoup


req = requests.get(url, verify=certifi.where())

soup = BeautifulSoup(req.text,"lxml")

table = soup.find("table",class_="table table-striped table-bordered table-hover w-100")
headers = table.find("tr")

titles = [i.text.strip() for i in headers if i.text.strip() != '']

# Extract table rows
rows = table.find_all("tr", class_="tblRowB")

# Assuming there are multiple rows, we need to iterate over them
inputs = []
for row in rows:
    cells = row.find_all("th")
    input_row = [cell.text.strip() for cell in cells if cell.text.strip() != '']
    if input_row:  # Only append if the row is not empty
        inputs.append(input_row)
        
heading = soup.find("h3",class_="mainHeading heading_black collapsingdiv collapsingdiv-1 showing cursor-pointer mx-auto")
print(heading.text.strip())


# Create the DataFrame
table_0 = pd.DataFrame(data=inputs, columns=titles)
table_0

Approved Action Plan Report

,Plan Year,State,District Panchayat & Equivalent,Block Panchayat and Equivalent,Village Panchayat and Equivalent
0,2024-2025,Andaman And Nicobar Islands,North And Middle Andaman,Diglipur,Paschim Sagar

In [9]:
print("SECTION 1 : Plan Summary")

column_tuples_1 = [
    ('Total Amount Allotted (In Rs.)', 'Tied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Tied', 'Total'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'SC'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'ST'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'General'),
    ('Total Amount Allotted (In Rs.)', 'Untied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Tied', 'Total'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'SC'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'ST'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'General'),
    ('Total Planned Outlay (In Rs.)', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_1)


table = soup.find_all("table",class_="table table-bordered table-striped table-hover")

rows = table[0].find_all("tr")

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells]  # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_1 = pd.DataFrame(data, columns=columns)


table_1

SECTION 1 : Plan Summary

  Total Amount Allotted (In Rs.)                                             \
                            Tied                        Untied
                              SC ST   General     Total     SC ST   General
0                              0  0  75125408  75125408      0  0  34533652

            Total Planned Outlay (In Rs.)                                   \
                                     Tied                        Untied
      Total                            SC ST   General     Total     SC ST
0  34533652                             0  0  75125408  75125408      0  0



    General     Total
0  34533652  34533652

In [10]:
print("SECTION 2 : Sectoral View")


column_tuples_2 = [
    ('','','','Sl. No.'),
    ('','','','Sector'),
    ('Planned outlay','Scheme', 'Tied', 'SC'),
    ('Planned outlay','Scheme', 'Tied', 'ST'),
    ('Planned outlay','Scheme', 'Tied', 'General'),
    ('Planned outlay','Scheme', 'Tied', 'Total'),
    ('Planned outlay','Scheme', 'Untied', 'SC'),
    ('Planned outlay','Scheme', 'Untied', 'ST'),
    ('Planned outlay','Scheme', 'Untied', 'General'),
    ('Planned outlay','Scheme', 'Untied', 'Total')
]

columns = pd.MultiIndex.from_tuples(column_tuples_2)

tbody = table[1].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all(["th","td"])  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)

# Create the DataFrame with the extracted data and MultiIndex columns
table_2 = pd.DataFrame(data,columns=columns)


table_2

SECTION 2 : Sectoral View

                                               Planned outlay            \
                                                       Scheme
                                                         Tied
   Sl. No.                              Sector             SC        ST
0        1  Administrative & Technical Support              0         0
1        2                      Drinking water              0         0
2        3                           Education              0         0
3        4            GP Office Infrastructure              0         0
4        5                              Health              0         0
5        6                    Land improvement              0         0
6        7     Maintenance of community system              0         0
7        8        Poverty allevation programme              0         0
8        9                               Roads              0         0
9       10               Rural electrification              0         0
10      11                          Sanitation              0         0
11      12                      Social welfare              0         0
12      13         Women and child development              0         0
13   Total                                   0              0  75125408



                       Untied
     General     Total     SC        ST   General     Total
0     450408    450408      0         0   1300000   1300000
1     635000    635000      0         0    200000    200000
2          0         0      0         0    612500    612500
3          0         0      0         0   1000000   1000000
4          0         0      0         0    705000    705000
5          0         0      0         0   1000000   1000000
6     340000    340000      0         0  15390000  15390000
7          0         0      0         0     14402     14402
8   72000000  72000000      0         0   2200000   2200000
9          0         0      0         0   1100000   1100000
10   1700000   1700000      0         0   1000000   1000000
11         0         0      0         0     10000     10000
12         0         0      0         0  10001750  10001750
13  75125408         0      0  34533652  34533652      None

In [11]:
print("SECTION 3 : Scheme View")


column_tuples_3 = [
    ('','','Sl. No.'),
    ('','','Scheme Name'),
    ('','','Component Name'),
    ('Amount Allotted', 'Tied', 'SC'),
    ('Amount Allotted', 'Tied', 'ST'),
    ('Amount Allotted', 'Tied', 'General'),
    ('Amount Allotted', 'Tied', 'Total'),
    ('Amount Allotted', 'Untied', 'SC'),
    ('Amount Allotted', 'Untied', 'ST'),
    ('Amount Allotted', 'Untied', 'General'),
    ('Amount Allotted', 'Untied', 'Total'),
    ('Planned Outlay', 'Tied', 'SC'),
    ('Planned Outlay', 'Tied', 'ST'),
    ('Planned Outlay', 'Tied', 'General'),
    ('Planned Outlay', 'Tied', 'Total'),
    ('Planned Outlay', 'Untied', 'SC'),
    ('Planned Outlay', 'Untied', 'ST'),
    ('Planned Outlay', 'Untied', 'General'),
    ('Planned Outlay', 'Untied', 'Total'),
]

columns = pd.MultiIndex.from_tuples(column_tuples_3)

tbody = table[2].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_3 = pd.DataFrame(data,columns=columns)


table_3

SECTION 3 : Scheme View

                                                  \

  Sl. No.                            Scheme Name
0       1  Grant-in-Aid (Sewerage & Sanitation )
1       2      Grant-in-Aid (Rural Road General)
2       3              Grant-In-Aid (Honorarium)
3       4             Grant-In-Aid (Maintenance)
4       5      Grant-in-Aid (Rural Water Supply)
5       6                              Own Funds
6       7                 Grant-in-Aid (General)
7       8  Integrated Child Development Services
8   Total                                      0

                                         Amount Allotted                      \
                                                    Tied
                          Component Name              SC        ST   General
0  Grant-in-Aid (Sewerage & Sanitation )               0         0   1700000
1               GIA (Rural Road General)               0         0  72000000
2                         GIA Honorarium               0         0    450408
3                         GIA Maitenance               0         0    340000
4              GIA (Rural (Water Supply)               0         0    635000
5                              Own Funds               0         0         0
6                          GIA (General)               0         0         0
7  Integrated Child Development Services               0         0         0
8                                      0        75125408  75125408         0

                                                    Planned Outlay            \
               Untied                                         Tied
      Total        SC        ST   General     Total             SC        ST
0   1700000         0         0         0         0              0         0
1  72000000         0         0         0         0              0         0
2    450408         0         0         0         0              0         0
3    340000         0         0         0         0              0         0
4    635000         0         0         0         0              0         0
5         0         0         0   3900000   3900000              0         0
6         0         0         0  29983652  29983652              0         0
7         0         0         0    650000    650000              0         0
8         0  34533652  34533652         0         0       75125408  75125408


                         Untied
    General     Total        SC        ST   General     Total
0   1700000   1700000         0         0         0         0
1  72000000  72000000         0         0         0         0
2    450408    450408         0         0         0         0
3    340000    340000         0         0         0         0
4    635000    635000         0         0         0         0
5         0         0         0         0   3900000   3900000
6         0         0         0         0  29983652  29983652
7         0         0         0         0    650000    650000
8         0         0  34533652  34533652      None      None

In [12]:
print("SECTION 4 : Priority Wise Activity Details")


thead = table[3].find("thead")
columns = thead.find_all("th")
columns = [th.get_text(strip=True) for th in columns]

tbody = table[3].find("tbody")  # Extract tbody section only
rows = tbody.find_all("tr")  # Find all table rows in the tbody

# Extract data from the table rows
data = []
for row in rows:
    cells = row.find_all("td")  # Find all table cells in the row
    row_data = [cell.get_text(strip=True) for cell in cells if cell.get_text(strip=True)] # Extract text from each cell
    if row_data:  # Only append if the row is not empty
        data.append(row_data)
# print(data)
# Create the DataFrame with the extracted data and MultiIndex columns
table_4 = pd.DataFrame(data,columns=columns)


table_4

SECTION 4 : Priority Wise Activity Details

,S.No.,Activity Code,Activity Name,Activity Description,Activity For,Sector,Mgnrega Activity category,Location of Asset,Estimated Cost,Total Duration,Scheme Name,General Fund,SC Fund,ST Fund
0,1,104469414,Camp for Inclusion of name of beneficiary in P...,Awareness program on Antodaya Ann Yojna under ...,All,Public distribution system,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
1,2,104727674,VPRP Demand for PMAY,Awareness program on Pradhan Mantri Awas Yojna...,All,Rural housing,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
2,3,104730062,VPRP- Demand for UJJWALA Gas connection,Awareness on Pradhan Mantri Ujjwala Yojna unde...,All,Fuel and fodder,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
3,4,104731122,Camp for Inclusion of name of beneficiary in P...,Awareness program on Antyodaya Anna Yojna unde...,All,Public distribution system,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
4,5,104842836,Awareness creation for self employment schemes...,Awareness program on Deendayal Upadhyaya Gram ...,All,Technical training and vocational education,N/A,N/A,APR 2024 - 2025,0,0,0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,170,106206830,IEC / awareness campaign on SHGs,Awareness camps for SHGs under GP Paschimsagar,All,Poverty allevation programme,N/A,N/A,10000,APR 2024 - MAY 2024,Grant-in-Aid (General),10000,0,0
170,171,106212927,Access to Maternal Benefits,Awareness camps for Maternal Banefits under GP...,All,Women and child development,N/A,N/A,1000,APR 2024 - MAY 2024,Grant-in-Aid (General),1000,0,0
171,172,106212985,Awareness campaign for Mahila Sabha/Conduct of...,Awareness camp in Mahila Sabha under GP Paschi...,All,Women and child development,N/A,N/A,3900000,APR 2024 - MAY 2024,Grant-in-Aid (General),3900000,0,0
172,173,106213329,IEC / awareness campaign on SHGs,Awareness camp on SHG under GP Paschimsagar,All,Poverty allevation programme,N/A,N/A,1402,APR 2024 - MAY 2024,Grant-in-Aid (General),1402,0,0
173,Total,109659060,109659060,0,0,None,None,None,None,None,None,None,None,None